{% extends 'view.twig' %}

{% block content %}
		<h1 class="title"> La Randothèque des randonneurs de l'association Saint Clément Evasion </h1>

		<a> <img src="{{ path('logo') }}" alt=""></a>
	{% block contentSB %}
	{% endblock %}
{% endblock %}