{% extends 'Randonnees/search.twig' %}

{% block contentList %}

	<div id="snackbar">Randonnée enregistrée</div>
	<script>
		window.onload = snackbar();
		function snackbar() {
		var x = document.getElementById("snackbar")
		x.className = "show";
		setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
		}
	</script>

{% endblock %}