
{% extends 'accueil.twig' %}

{% block contentSB %}
	<div id="snackbar">Bienvenue {{prenom}}</div>
	<script>
	window.onload = snackbar();
	function snackbar() {
	    var x = document.getElementById("snackbar")
	    x.className = "show";
	    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
	}
	</script>
{% endblock %}