{% extends 'view.twig' %}

{% block content %}
<div id="snackbar">Compte enregistré ! Vous pouvez vous connecter</div>
<script>
window.onload = snackbar();
function snackbar() {
    var x = document.getElementById("snackbar")
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}
</script>
<?php
require File::build_path(array("view","Comptes","login.php"));
?>
	  {% endblock %}